<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias  alias="todoRequestDTO" 
                    type="com.siat.testsiat.test.model.dto.TodoRequestDTO"/>
        <typeAlias  alias="todoResponseDTO" 
                    type="com.siat.testsiat.test.model.dto.TodoResponseDTO"/>
        <typeAlias  alias="userRequestDTO" 
                    type="com.siat.testsiat.user.model.domain.UserRequestDTO"/>
        <typeAlias   alias="userResponseDTO"
                    type="com.siat.testsiat.user.model.domain.UserResponseDTO"/>
    </typeAliases>
</configuration>
