a {  /*선택자*/
    /* 텍스트 링크 없애기 */
    text-decoration: none;
    /* key : value 형태. 문장 마지막에 세미콜론 권장 */
}

header {
    width: 100% ;
    height: 100px ;
    background-color: rgb(255, 214, 254);
}

ul {
    list-style: none;
}

nav {
    float: right;
    width: 900px;
    height: 900px;
    padding-top: 40px;
}

#logo {
    float: left;
    width: 250px;
    height: 100px;
    padding-left: 20px;
    line-height: 100px;
}

#logo h1 {
 color: aqua;   
}

#topMenu {
    height: 60px;

}

#topMenu li{
    float: left;
    position: relative;

}

#topMenu li{
    display: block;
    color: black;
    font-weight: 600;
    padding: 20px 60px;

}

.contents {
    width: 1000px;
    margin: 50px auto;
    

}

main section {
    margin-top: 60px ;

}


.detail > img {
    float: left ;
    margin-right: 50px ;
    border-radius: 20px;
}


main div {
    margin-top: 20px ;
}

.detail p {
    line-height: 2.0;
    width: 200px;
}
