.lst {
    border: 5px solid teal;
}

h1 {
    text-align: center;
}


.flex {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 (필요하면 추가) */
    gap: 50px; /* 요소 간 간격 조정 */
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
}

